
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    55
    <div id="jsonshow"> 
    </div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        var myobj = { "sites": ["lzzy", "google", "ffff"] }
        for (var i = 0;i<=myobj.sites.length;i++)
        {
            document.getElementById("jsonshow").innerHTML += myobj.sites[i]+"、";
        }
        // myobj = {
        //     "name": "网站",
        //     "num": 3,
        //     "sites": [
        //         { "name": "Google", "info": ["Android", "Google", "Google翻译"] },
        //         {"name":"Taobao","info":["京东","网购"]}
        //     ]
        //}
    </script>
</body>
</html>
